@media screen and (min-width: 769px) {
  /* for md and above */
  #introduction-section {
    background: url(../assets/hero-cover1.jpg),
      linear-gradient(to right, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0) 100%);
    background-position: 80%;
    padding: 0 11% 0 20%;
  }

  nav a {
    font-size: 14px;
  }

  .blue-btn1 {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: bolder;
    min-width: 220px;
    max-width: 220px;
    height: 52px;
    border: none;
    border-radius: 5px;
  }

  .intro-title {
    font-size: 58px;
  }

  .transp-btn {
    color: var(--light-text-color);
    height: 52px;
    border: 1px solid white;
  }

  .card-wrapper {
    margin-top: 100px;
  }

  #form-section {
    min-height: 670px;
    padding: 80px 11% 0 15%;
  }

  .textarea {
    width: 594px;
    border: solid 1px var(--muted-color);
  }

  .m-left {
    margin-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .input-fl {
    min-width: 285px;
    height: 50px;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: var(--second-text-color);
  }

  #contactUs-section {
    min-height: 142px;
    padding: 0 15%;
  }

  footer > div:first-child {
    min-height: 272px;
    padding: 50px 0 0 15%;
  }

  .container-wrapper {
    margin-right: 30px;
  }

  .copyright-wrapper {
    height: 74px;
    background-color: var(--light-gray-1);
    padding: 0 15%;
  }

  .copyright-p {
    font-size: 14px;
    font-weight: 600;
    color: var(--second-text-color);
  }
}
