@media screen and (max-width: 768px) {
  /* for sm and default */
  .side-menu {
    position: fixed;
    top: -532px;
    width: 100%;
    height: 532px;
    padding: 0 5%;
    background-color: var(--dark-background-color);
    opacity: 0.9;
    color: var(--light-text-color);
    transition: top 0.3s ease; /* how to slide */
    z-index: 1;
  }

  #introduction-section {
    background: url(../assets/hero-cover1.jpg),
      linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-position: 80%;
    padding: 0 5%;
  }

  #form-section {
    background: url(../assets/contact-cover2.png),
      linear-gradient(to right, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 100%);
    background-size: cover;
    background-blend-mode: overlay;
    background-position-x: 50%;
    min-height: 918px;
  }

  .intro-title {
    font-size: 40px;
  }

  .transp-btn {
    color: var(--primary-color);
    height: 42px;
    border: 1px solid var(--primary-color);
  }

  .icon-section .row {
    flex-direction: column;
  }

  .icon-section .col-md-4 {
    margin-bottom: 30px;
  }

  .card-wrapper {
    margin-top: 60px;
  }

  #form-section {
    padding: 140px 16% 0 16%;
  }

  .input-fl {
    width: 96%;
    height: 50px;
    border: solid 1px var(--muted-color);
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: var(--second-text-color);
  }

  input::placeholder {
    color: var(--muted-color);
  }

  .textarea {
    width: 96%;
    border: solid 1px var(--muted-color);
  }

  .blue-btn1 {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    font-size: 14px;
    font-weight: bolder;
    width: 96%;
    height: 52px;
    border: none;
    border-radius: 5px;
  }

  #contactUs-section {
    min-height: 302px;
    padding: 0 16%;
  }

  footer > div:first-child {
    min-height: 272px;
    padding: 50px 17% 50px 17%;
  }

  .copyright-wrapper {
    background-color: var(--dark-background-color);
    padding: 0 17%;
  }

  .icon-section .row {
    flex-direction: column;
  }
  .icon-section .col-md-4 {
    margin-bottom: 30px;
  }
  .testimonials-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .testimonials-section h2::before {
    content: "What Clients Say";
    display: block;
    /* font-size: inherit; */
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: inherit;
    visibility: visible;
  }
  .testimonials-section h2 {
    visibility: hidden;
  }
  .testimonials-section p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: white;
  }
  .testimonial-card {
    padding: 20px;
    margin-bottom: 30px !important;
  }
  .testimonials-section .user-icon {
    display: none;
  }
  .testimonials-section .card-body {
    gap: 20px;
  }
  .project-card h5 {
    font-weight: 700;
  }
  .industry-section h2 {
    visibility: hidden; /* hide original text */
    position: relative;
    margin: 0 auto; /* Center align the pseudo-element */
    width: 50%;
  }
  .industry-section h2::before {
    content: "We Are Optimists Who Love To Work Together";
    visibility: visible;
    position: relative;
    display: block;
    font-size: 32px; /* text size for mobile */
    font-weight: bold;
    text-align: center;
    line-height: 1.5; /* improve readability */
    width: 100%;
    /* margin: 0 auto 30px;  */
    word-wrap: break-word;
  }
  .industry-section {
    padding-top: 140px; /* space above the content */
    padding-bottom: 40px; /* maintain bottom spacing */
  }
  .industry-section p {
    margin-top: 20px;
    text-align: center; /* center-align the paragraph */
    max-width: 200px;
  }

  .icon-section {
    min-height: 950px;
    padding: 15% 0;
  }
}
